/node_modules
/public/storage
/storage
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/img/pdf
composer.lock
/nbproject/private/
/.DS_Store
package-lock.json
.phpunit.result.cache
.phpunit.cache/
/storage/framework/cache
/storage/framework/views
/storage/framework/sessions
/bootstrap/cache
/storage/logs
