/node_modules
/public/storage
/storage
/vendor
/.idea
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/img/pdf
/nbproject/private/
/.DS_Store
.phpunit.result.cache
.phpunit.cache/
/storage/framework/cache
/storage/framework/views
/storage/framework/sessions
/bootstrap/cache
/storage/logs
/public/js/components/app.js
/public/js/components/app.js.LICENSE.txt
/public/js/ppIntranet.js
/public/js/ppIntranet.js.LICENSE.txt
/public/mix-manifest.json

