services:
    laravel.test:
        
        image: arturocandela/intranet:${IMAGE_TAG_DEV:-laravel11-dev}
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        expose:
          - "80"
        
        environment:
            WWWUSER: "${WWWUSER:-${UID:-1000}}"
            WWWGROUP: "${WWWGROUP:-${GID:-1000}}"
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
        volumes:
            - '.:/var/www/html'
            - selenium-downloads:/srv/documentsFct
        networks:
            - sail
        depends_on:
            - mysql
            - mailpit
            - selenium
    
    caddy:
        image: caddy:2-alpine
        ports:
            - "127.0.0.1:80:80"
            - "127.0.0.1:443:443"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - caddy_data:/data
            - caddy_config:/config
        depends_on:
            - laravel.test
        networks:
            - sail
    mysql:
        image: 'mysql/mysql-server:8.0'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'sail-mysql:/var/lib/mysql'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
    myadmin:
        image: 'phpmyadmin:latest'
        ports:
            - '${FORWARD_PHPMYADMIN_PORT:-8080}:80'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            UPLOAD_LIMIT: 100M
        links:
            - 'mysql:db'
        depends_on:
            - mysql
        networks:
            - sail
    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
    selenium:
        image: selenium/standalone-firefox:latest
        ports:
            - '${FORWARD_SELENIUM_PORT:-4444}:4444'
            - '${FORWARD_SELENIUM_VNC_PORT:-7900}:7900'
        shm_size: '2gb'
        networks:
            - sail
        volumes:
          - selenium-downloads:/home/seluser/Downloads
networks:
    sail:
        driver: bridge
volumes:
    sail-mysql:
        driver: local
    caddy_data:
    caddy_config:
    selenium-downloads:
        driver: local
