/* ********************** CABECERA Y PIE ************************ */

header {
	max-width: 1400px;
}

.disabled {
	color: grey;
}


#cabecera{
	position: relative;/* para que funcione de como mapa de imagen se pone en relativo*/
	margin: 0 auto;
	height: 149px;/*alto*/
	width: 90%;
	background-image: url("/css/cabecera.jpg");
	background-repeat: no-repeat;
}

#cabecera_mini{
	position: relative;/* para que funcione de como mapa de imagen se pone en relativo*/
	margin: 0 auto;
	height: 89px;/*alto*/
	width: 90%;
	background-image: url("/css/cabecera_mini.jpg");
	background-repeat: no-repeat;
}

#sesion{

	position: absolute; /* para que este pueda ser absoluto*/
	top: 10px;
	right: 10px;

	padding: 0px 5px;
	min-width: 150px;
	width: auto;

	height: auto;
	max-height: 180px;

	border: 1px solid #373F42;

	margin-right: 10px;
	margin-top: 7px;
	background-color: rgba(239,250,255,0.9); /* se pone como rgba para que se le pueda aplicar transparencia*/
	border-radius: 6px;


}

#pie{
	width: 90%;
	background-color: #F0F2F7;
	margin: 0 auto;
	text-align: left;
}

#pie p{
	text-align: center;
}

.iconologin{
	width: 25px;
	height: 25px;
}



/**********************************************************/

/***********************  GENERAL  ************************/

body{
	max-width: 1400px;
	background-color: #B9E8FE;
	font-size: 15px;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
	color: #1E88E5;
	font-size: 20px;
}

hr{
	color: #2B929A;
	height: 1px;
}


/* *********************************************************/


/* ******************** PSEUDOCLASES ***********************/

::-moz-selection { 
	background-color: #1e88e5;
	color: white;
}

li:nth-child(2n){
	background-color: #B9E8FE;
}

select option:hover, select option:active{ 
	box-shadow: 0 0 10px 10px #1E88E5 inset; }/* para pasar por encima y se ponga azul el option*/

select:hover, input:hover{
	border: solid 1px #1E88E5 !important;
}

/*option:first-child{
	background-color: #1E88E5;

}/*

/***********************************************************/


/*********************  PROPIEDADES  **********************/

.centrado{
	margin: 0 auto;
}

.bloque{
	display: block;
}

.centrado{
	text-align: center;
}



.fuentepequena{
	font-size: 12px;
}

.aliniadoderecha{
	float: right;
}

.alineacion_centrada{
	text-align: center;
}

#errors{
	margin-top: 10px;
	color: red;
}

.olvidarpass{
	text-align: right;
}

.iconopequeno{

	width: 25px;
	height: 25px;
}

.iconomediano{

	width: 50px;
	height: 50px;
}

.flotacion_derecha{
	float: right;
}

.clear{
	clear: both;
}

/*
.linea {
	display: inline !important;
	margin-bottom: 3px;
}*/

.alinearvertical{ 
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}


.clear{
	clear: both;
}

.bajar{
	display: block !important;
}

.rojo{
	color: red;
}

.verde{
	color: green;
}

.azul{
	color: #1E88E5;
}

.negro{
	color: black;
}

.noFlotar{
	float: none !important;
}

.reducirCheckbox{
	width: 35px !important;
	float: none !important;

}

.imagenflexible{
	width: 100%;
	height: 100%;
}

.reducir_select{
	width: 189px !important;
	max-width: 189px !important;
}

.mitad_imput{
	width: 92px !important;
	margin-left: 2px;
}

.oculto{
	display: none;
}
/**********************************************************/


/* ******************* ENLACES PANEL ********************* */


.contenedorEnlaces{
	max-width: 657px;
	/*max-height: 552px;*/
	/*width: 904px;*/
	margin: 0 auto;

}

.enlace{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #B9E8FE;
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-bottom: 40px;
	float: none;
}

.contenedorEnlaces a{

	text-align: center;
	height: 150px;
	width: 150px;
	margin-right: 55px;
	margin-left: 0px;

}

.contenedorEnlaces a:hover{

	
	background-color: #FFFFFF;
	border: solid 1px black;

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 1.0s ease;

	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-15deg);


}


.contenedorEnlaces a img:hover{
	
	/*
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-webkit-transform: rotate(-0deg);
	-moz-transform: rotate(-0deg);
	-ms-transform: rotate(-0deg);
	transform: rotate(-0deg);*/


}



.ajustaralto{
	max-height: 2000px;
	height: auto !important;
}

.salto{
	display: inline;
}
/**********************************************************/


/* ******************* FORMULARIOS ********************* */

.formularionormal{
	padding: 5px 0px;
	text-align: left;
	background-image: url("fondo.jpg");
	background-color: #F0F2F7;
	height: auto;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px;
	
}

.formularionormal input{
	border-radius: 3px;
	border:solid 1px black;
	text-align: center;
	width: 300px;
	height: 20px;
	float: right;
	background-color: white;
}
.formularionormal textArea{
        border-radius: 3px;
	border:solid 1px black;
	text-align: center;
	width: 200px;
	height: 100px;
	float: right;
	background-color: white;
}


.contenedor{
/*	width: 600px; */
	width: 900px;
	height: auto;
	margin: 0 auto;
	/*min-height: 400px;*/
}

.formulario{
	text-align: left;
	border: 2px solid #373F42;
	background-color: #EFF5FB;
	height: auto;
	width: 500px;
	margin: 0 auto;

}


.formularionormal input:focus{
	border: solid 2px  #1E88E5;
	border-radius: 5px;
}


form{
	height: 90%;
	margin: 0 auto;
}

textarea, select{
	border-radius: 5px;
	border: solid 1px black;
	float: right;
	width: 313px;
	height: 25px;
	text-align: center;
	background-color: white;

}

textarea{
	display: inline-block;
	width: 310px !important;
	margin-bottom: 10px;
	max-height: 150px;
	max-width: 400px;
}


/**********************************************************/


/* ***********************  BOTONES  ******************** */



.boton{
	margin-top: 20px;
	margin-bottom: 4px;
	border: none !important;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	background-color: #1E88E5 !important;
	color: white;
	padding: 10px 10px;
}

.boton:active{
	
	border: solid 2px #1E88E5 !important;
	background-color: #26C6DA !important;
	color: white;
	
}

.botonnormal{
	/*margin-top: 20px;*/
	/*margin-bottom: 4px;*/
	border: none;
	border-radius: 5px;
	background-color: #1E88E5 !important;
	color: white;
	width: 214px !important;
}

.button{
	border: none;
	border-radius: 5px;
	background-color: #1E88E5 !important;
	color: white;
	width: 150px !important;
	height: 30px;
	margin-left: 5px;
}

.button:hover{
	border: solid 1px blue;
	color: #1E88E5;
	background-color: white !important;
}

.boton_pequeno{
	width: 50px;
	background-color:green;
	color: white;
	margin-top:9px;
	border-radius: 10px;
	border: none;
	float: none;
}

/* **************************************************** */




/* **************** MODIFICACIONES ******************** */

/*::-webkit-input-placeholder { color: black; } /* WebKit */
/*:-moz-placeholder { color: black; } /* Firefox 18- */
::-moz-placeholder { color: black; } /* Firefox 19+ */
/*:-ms-input-placeholder { color: black; } /* IE 10+ */


/* ****************************************************** */



div{
margin: .4em 0;

}
.forms{
	margin: 0.4em auto;
	width: 350px;
}


.forms label{
	margin-top: 13px;
	width: 25%;
  	float: left; 
  	text-align: left;
}

#envoltorio{
	width: 100%;
	height: auto;

}

input{
	padding-left: 6px;
	padding-right: 6px;
	width: 300px;
	height: 28px;
	float: right;
}


#submit{
	float: none;
	width: 100%;
	height:40px;
}

#id{
	width: auto; 
	display: none; 
	height: auto;
	background-color: white;
	border: 1px solid black;
	position: relative;
	margin-top: 30px;
}

#ulAlumnContainer, #ulProfeContainer{
	list-style-type: none;
	margin: auto;
	padding: 5px;
}

#box{
	width: auto; display: none;
	height: auto;background-color: white;
	border: 1px solid black;
	position: relative;
	margin-top: 30px;
}

/**************************  PANEL MANIPULADOR *****************************/

#contenedorbotones button{
	margin-right: 70px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;

}

#contenedorbotones{
	text-align: center !important;
}


.panel_manipulador select, .panel_manipulador input{
	float: none !important;
	margin: 6px;
	margin-bottom: 7px !important;
	margin-top: 5px;

}

.tabla{
	/*margin-top: 20px;
	min-height: 200px !important;
	min-width: 200px;
	/*margin-bottom: 20px;*/
}


.panel_manipulador{
	text-align: center;
}

/*******************************************************************************/


/******************************** TABLAS ***************************************/

table{
	
	border: solid 2px #1E88E5;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	text-align: center;

}

table td, table th{
	border: solid 2px #1E88E5;
	padding: 3px;
}

th{
	background-color: #B9E8FE;
}






/******************************** NUEVA ACTIVIDAD ******************************/


/* el apartado para colocar la papelera para eliminar selects */
.icono{
	width: 25px;
	height: 25px;
	float: right;
}

.recortado{
	clear: inherit;
	width: 190px;

}
/********************************************************************************/

/*************************** CREAR CURSO MANIPULADOR*****************************/

.nivel{
	margin-top: 18px !important;
	clear: both;
	margin: auto auto;
}
.nivel label{

}

/********************************************************************************/

/****************************** APACHE     **************************************/

.error_apache{
	min-height: 300px !important;
	background-image: url("../imagenes/error_general.png");
	background-repeat: no-repeat;
	border-radius: 5px;
	text-align: center;
}

.error_apache .detalles{
	background-color: rgba(255,255,255,0.9);
	border-radius: 6px;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

.error_apache .detalles:hover{

	background-color: white;
	color: black;
	}

.titulo_error{
	background-color: rgba(255,255,255,0.9);
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 6px;
}

.titulo_error:hover{
	background-color: white;
	color: black;
}

#boton input{
	color: white;
	background-color: black;

}

#boton input:hover{
	color: black;
	background-color: white;
	border-color: black !important;
}

/********************************************************************************/

#contenedorWebcam{
	background-color: gray;
	position: relative;
}

#botonCamara{
	position: absolute;
	top:50px;
	left: 300px;

}

canvas{
	margin: 0 auto;
	text-align: center;
}

/************* Para que los radio de dentro de una tabla no tengan tanta anchura ****/
#tableContainer input {
	width: 40px;
}
