/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/09/2018, 18:25:11
    Author     : igomis
*/

img { max-width: 100%}
p { font-size: 1.5em;text-align:justify;line-height: 1.7}
h3 { font-size:2em; text-align: center;}
li { font-size: 1.2em;text-align:justify;line-height: 1.7}